.main-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

}

.img__stars {
    position: absolute;
    width: 1575px;

}

.img__id {
    position: absolute;
    width: 420px;

}

.img__about {
    position: absolute;
    width: 70px;
    transform: translate(-122px, 145px);
}

.img__links {
    position: absolute;
    width: 55px;
    transform: translate(-46px, 145.5px);
}

.img__shop {
    position: absolute;
    width: 58px;
    transform: translate(22px, 148px);
}

.img__portfolio {
    position: absolute;
    width: 90px;
    transform: translate(109px, 148px);
}