.image__stars {
    position: absolute;
    width: 1575px;
}

.image__id {
    position: absolute;
    width: 420px;
    transform: rotate(-0.5deg);
}

.image-button__about {
    width: 70px;
    transform: translate(-122px, 145px) rotate(1deg);
}

.image-button__about:hover {
    opacity: 0.9;
    background-color: #fffda57a;
}

.image-button__links {
    width: 55px;
    transform: translate(-46px, 145.5px) rotate(-1deg);
}

.image-button__links:hover {
    opacity: 0.9;
    background-color: #fffda57a;
}

.image-button__shop {
    width: 58px;
    transform: translate(22px, 148px) rotate(-0.5deg);
}

.image-button__shop:hover {
    opacity: 0.9;
    background-color: #fffda57a;
}

.image-button__portfolio {
    width: 90px;
    transform: translate(109px, 148px) rotate(0.25deg);
}

.image-button__portfolio:hover {
    opacity: 0.9;
    background-color: #fffda57a;
}